<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
	</configSections>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="dialect">NHibernate.FullText.MsSql2008FullTextDialect, NHibernate.FullText</property>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="connection.connection_string">server=localhost;Integrated Security=SSPI;database=NHFullTextTest</property>
			<property name="connection.isolation">ReadCommitted</property>
			<mapping assembly="Tests.NHibernate.FullText"/>
		</session-factory>
	</hibernate-configuration>
</configuration>